{% block body %}
    <div class="container">
        <h1>Contact Form</h1>
        {% if form_errors(form) %}
            <div class="alert alert-danger">
                {{ form_errors(form) }}
            </div>
        {% endif %}
        {# Afficher le formulaire #}
        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.message) }}
        <button type="submit" class="btn btn-primary">Envoyer</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

